h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
}

#msgLabel{
    font-size: 50px;
    display: flex;
    align-items: center;
}


#message{
    margin-top: 10px;
    width: 50%;
    font-size: 30px;
}

#btnSubmit{
    margin-top: 10px;
    border-radius: 100px;
    width: 50%;
    height: 50px;
}

p,
#decodedMessage,
span, 
#pTitle{
    font-size: 30px;
}


body[data-page="home"] #shareLink,
body[data-page="home"] #decodedMessageContainer {
    display: none;
}


body[data-page="share"] h1,
body[data-page="share"] #msgLabel,
body[data-page="share"] #message,
body[data-page="share"] #btnSubmit,
body[data-page="share"] #decodedMessageContainer,
body[data-page="share"] #btnHomePage {
    display: none;
}


body[data-page="decoded"] #main,
body[data-page="decoded"] #shareLink {
    display: none;
}
